doctype html

html(lang='en')
    head
        meta(charset='UTF-8')
        title Ismail S | Beginners Programming Course
    body
        h1 Beginners Programming Course
        p This is the homepage for a beginners programming course I'm teaching in Python.
        p We're working through #[a(href='https://automatetheboringstuff.com/') Automate the Boring Stuff with Python].
        p I've also written up #[a(href='presentations/lesson-one.html') some slides] to accompany the book.
        p And I've created #[a(href='Python tutorial - Automate the Boring Stuff.apkg') some flashcards] as well. Download & install #[a(href='https://apps.ankiweb.net/') Anki] to use these flashcards.
        h2 Questions
        ol
            li Write a program that uses a while loop to print out all the integers from 5 to 40 inclusive.
                ol
                    li Rewrite the program to use a for loop instead.
            li Write a program to ask the user for 2 integers, then print out all the integers between the 2 supplied integers inclusive.
                ol
                    li Improve this program by checking the user's input and making sure that the first integer is smaller than or equal to the second one.
            li Write a program that asks the user for 2 integers, then checks if the total of the 2 integers is 34. If it is, the user is told that they have guessed correctly. If not, they have to keep guessing.
                ol
                    li Improve this program by telling the user whether the total of their 2 numbers is too high or too low.
                    li Improve this program by giving the user a maximum of 10 attempts, telling the user when they guess incorrectly how many attempts they have left.
                    li Improve this program by changing 34 to be a user-supplied integer ie the user supplies a target total at the beginning of the program. However, this will make it too easy for the user, as they'll know what the total is, so scramble the user-supplied integer by: adding 50, then multiplying it by 30, then modulo it by 50, then add 5. So, for example, if the user supplies 4, then when scrambled this will give 25, and if the user supplies 5, then when scrambled this will give 5.
